<p id="notice"><%= notice %></p>
<p>Email: <%= @user.email %></p>
<p>Total de Mortes: <%= @user.deaths_count %></p>
<p>Monstros mortos por mim: <%= @user.killed_monsters_count %></p>
<p>Total de Moedas: <%= @user.total_coins %></p>


